[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
gitpython = "*"
ipykernel = "*"
pre-commit = "*"
pynacl = "*"
pytest = "*"
pytest-cov = "*"

[packages]
boto3 = "*"
canvasapi = "*"
csci-utils = {editable = true, extras = ["all"], git = "https://${ACCESS_TOKEN}:x-oauth-basic@github.com/csci-e-29/2021sp-csci-utils-CalebEverett@master"}
luigi = "*"
mlflow = "*"
torch = "*"
torchvision = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
